@font-face {
  font-family: "source-code-pro";
  src: url("SourceCodePro-VariableFont_wght.woff2");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  text-align: left;
  font-size: 16px;
}

#container {
  display: flex;
  flex-direction: row;
  background: rgba(196, 128, 196, 0.1);
  height: 100%;
  width: 100%;
}

#left,
#right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 40px;
}

#input,
#repl {
  border: 1px solid #ccc;
  flex-grow: 1;
  margin-top: 10px;
  text-align: left;
}

#repl {
  background: #fffffe;
  overflow-y: scroll;
  padding: 0.5em;
}

#repl div {
  padding-top: 0px;
}

span.prompt,
span.output {
  font-size: 1.3em;
}

#repl div.error {
  color: #f44;
}

#repl div.message {
  font-style: italic;
}

#repl div.value,
div.error,
div.message {
  padding-bottom: 13px;
}

#repl div.log {
  font-style: italic;
}

#minibuffer {
  text-align: left;
  padding: 6px;
  width: 100px;
  display: inline-block;
  flex-grow: 1;
}

*[contenteditable="true"] {
  outline: unset;
}

.codeLink {
  text-align: right;
  height: 20px;
  padding-top: 10px;
}

.codeLink * {
  vertical-align: middle;
}

iframe {
  display: none;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding-top: 10px;
}
