@font-face {
    font-family: "source-code-pro";
    src: url("SourceCodePro-VariableFont_wght.woff2");
}

body {
    font-family: "source-code-pro", sans-serif;
    text-align: center;
}

#container {
    display: inline-block;
    background: rgba(196, 128, 196, 0.1);
    padding: 20px 40px;
}

#input, #repl {
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    padding: 0.5em;
    overflow-y: scroll;
    background: white;
    border: 1px solid #bbb;
}

#input {
    width: 600px;
    height: 200px;
}

#repl {
    width: 600px;
    height: 600px;
}

#submit {
    width: 100%;
}

#minibuffer {
    font-size: 12px;
    text-align: left;
    padding: 6px;
}

#repl div {
    padding-top: 2px;
}

#repl div.error {
    color: red;
}

*[contenteditable="true"] {
    outline: unset;
}

div.codeLink {
    text-align: right;
    font-size: 12px;
    margin-top: 1em;
}

div.codeLink * {
    vertical-align: middle;
}

iframe {
    display: none;
}

