* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: auto;
}

#repl {
  margin: 1in auto;
  width: 500px;
  height: calc(100vh - 2in);
  font-family: monospace;
  border: 1px solid #999;
  font-size: 14px;
}

#repl div {
  margin: 6px 4px;
}

#repl:focus {
  outline: none;
}

#repl:focus .cursor {
  background: black;
}

.cursor {
  background: transparent;
  display: inline-block;
  width: 1px;
}

.prompt {
  display: inline-block;
  vertical-align: top;
  width: 1.2em;
}
